
#genreSoratra
{
    width: auto;
}

#formulaire
{
    margin-top: 15px;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#formulaire>h2
{
    text-align: center;
}

#bt1
{
    margin-left: 3%;
}
#bt2
{
    float: right;
    margin-right: 3%;
}

#specialite
{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#specialite1
{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#popup
{
    float: right;
}

#volou
{
    width: 700px;
}